.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* position: relative; */
    width: 100%;
    height: 103px;
    padding: 20px;
    /* height: 9%; */
    top: 1095px;
    left: 0;
    background-color: #d3ccc9;
    /* text-align: center; */
  }
  .email-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .connect-group {
    display: flex;
    flex-direction: column;
  }
 .email-word {
    position: absolute;
    /* position: relative; */
    width: 48px;
    top: 29px;
    left: 109px;
    font-family: "Lato", Helvetica;
    font-weight: 800;
    color: #2a2928;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.text-wrapper-2 {
    position: absolute;
    /* position: relative; */
    width: 68px;
    top: 27px;
    left: 742px;
    font-family: "Lato", Helvetica;
    font-weight: 800;
    color: #2a2928;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
 .p {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 176px;
    top: 43px;
    left: 1211px;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #2a2928;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.email {
    position: absolute;
    width: 142px;
    top: 59px;
    left: 109px;
    font-family: "Lato", Helvetica;
    font-weight: 700;
    color: #2a2928;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    white-space: nowrap;
  }
  
   .linkedin-icon {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 52px;
    left: 782px;
  }
  
  .github-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 52px;
    left: 740px;
  }